<div>
    <div class="row">
        <div class="form-inline">
            <button type="button" class="btn btn-primary" (click)="addBook()">Thêm</button>
            <input [(ngModel)]="bookName" class="form-control mr-sm-2" type="search" placeholder="Search by book name"
                aria-label="Search" (keyup)="getBookByBookName()">
        </div>
        <table id="customers" style="border-collapse: collapse;">
            <tr>
                <th>Id
                    <mat-icon style="cursor: pointer;" (click)="orderBy('bookId', 'asc')">
                        arrow_downward
                    </mat-icon>
                    <mat-icon style="cursor: pointer;" (click)="orderBy('bookId', 'desc')">
                        arrow_upward
                    </mat-icon>
                </th>
                <th>Tên sách
                    <mat-icon style="cursor: pointer;" (click)="orderBy('bookName', 'asc')">
                        arrow_downward
                    </mat-icon>
                    <mat-icon style="cursor: pointer;" (click)="orderBy('bookName', 'desc')">
                        arrow_upward
                    </mat-icon>
                </th>
                <th>Tác giả</th>
                <th>Người phiên dịch</th>
                <th>Số lượng</th>
                <th>Năm xuất bản</th>

                <th></th>
            </tr>
            <tr *ngFor="let book of books">
                <td>{{ book?.bookId }}</td>
                <td>{{ book?.bookName }}</td>
                <td>{{ book.author?.authorName }}</td>
                <td>{{ book?.translator }}</td>
                <td>{{ book?.bookAmount }}</td>
                <td>{{ book?.publishingYear }}</td>
                <td>
                    <mat-icon style="cursor: pointer;" title="Nhấn vào để xóa" (click)="deleteBook(book.bookId)">clear
                    </mat-icon>
                    &nbsp;
                    <mat-icon style="cursor: pointer;" title="Nhấn vào để chỉnh sửa" (click)="editBook(book.bookId)">
                        edit
                    </mat-icon>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div *ngFor="let book of books, index as idx">
            <div class="col-3">
                <div class="card pointer" style="width: 18rem;" (click)="showBookDetails(book.bookId)">
                    <div class="card-body text-center">
                        <span class="card-text">
                            {{ book.bookName }}
                        </span>
                        <span class="card-text">
                            {{ book.rentConst }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>