.nav-height {
    min-height: 50px !important;
    height: 50px !important;
}

.content-move-right {
    margin-left: 170px !important;
    transition: ease 0.2s;
}

.content-move-left {
    margin-left: 10px !important;
    transition: ease 0.1s;
}

.active-link {
    background: blue;
    color: white;
}

.mat-button:hover {
    background: blue;
    color: white;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 250, 250);
    overflow-x: hidden;
    padding-top: 20px;
}
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 12px; /* Increased text to enable scrolling */
    padding: 0px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #922c2c;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
