<table class="table" *ngIf="book !== undefined">
    <thead>
        <tr>
            <th scope="col">Tên sách</th>
            <th scope="col">{{ book.bookName }}</th>
        </tr>
        <tr>
            <th scope="col">Dịch giả</th>
            <th scope="col">{{ book.translator }}</th>
        </tr>
        <tr>
            <th scope="col">Ngày xuất bản</th>
            <th scope="col">{{ book.publishingYear }}</th>
        </tr>
        <tr>
            <th scope="col">Số lượng</th>
            <th scope="col">{{ book.bookAmount }}</th>
        </tr>
        <tr>
            <th scope="col">Tác giả</th>
            <th scope="col">{{ book.author?.authorName }}</th>
        </tr>
        <tr>
            <th scope="col">Mô tả sản phẩm</th>
            <th scope="col">{{ book.bookDescription }}</th>
        </tr>
    </thead>
</table>